/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*CSS reset here*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Universal code*/
.group:before,
.group:after{
	content: "";
	display: table;
}

:before{
	clear:both;
}

:after{
	clear:both;
	*zoom:1;
}

*,
*:before,
*:after{
 -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
				 box-sizing: border-box;
}

/*Custom Style*/

body{
	font: 300 15px/15px "Open Sans" ,"Helvetica Neue," Helvetica, Arial;
	font-family: 'Courgette', cursive, "Open Sans", "Helvetica" ;
	color:#961d3a;
	letter-spacing: 1px;
	background: #f3c4d0;
	background: radial-gradient(#f3c4d0,#f2bcc9,	#e26c88, #22060d);
	background: -moz-radial-gradient(#f3c4d0,#f2bcc9,	#e26c88, #22060d);
	background: -webkit-radial-gradient(#f3c4d0,#f2bcc9,	#e26c88, #22060d);
	background-repeat: no-repeat;
}

.primarybody{
	background: url("Assets/Home/Heaven Background.png"), url('Assets/Home/Kalied Background.png'), radial-gradient(#f3c4d0,#f2bcc9,	#e26c88, #22060d);
	background: url("Assets/Home/Heaven Background.png"), url('Assets/Home/Kalied Background.png'), -webkit-radial-gradient(#f3c4d0,#f2bcc9,	#e26c88, #22060d);
	background: url("Assets/Home/Heaven Background.png"), url('Assets/Home/Kalied Background.png'), -moz-radial-gradient(#f3c4d0,#f2bcc9,	#e26c88, #22060d);
	min-width:960px;
	background-repeat: no-repeat, no-repeat;
	background-position:  20px 20px, 1200px 120px, 0px 0px;
}

.primaryheader a,
.primaryfooter a{
	color: #fdf4f6;
}

.primaryheader a:hover,
.primaryfooter a:hover{
	color: #e26c88;
}

/*grid layout*/
.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  width: 100%;
	height: 100%
}
.centered,
.grid{
	width: 960px;
	margin: 0 auto;
}

.centered{
	padding-left: 15px;
	padding-right: 15px;
}

.grid,
.col-1-3,
.col-2-3{
	padding-left:10px;
	padding-right:10px;
}

.col-1-3,
.col-2-3{
	display:inline-block;
	vertical-align:top;
}

.col-1-3{
	width:33.33%;
}

.col-2-3{
	width:66.66%;
}

/*Typography here*/

p,
.about-alt{
	letter-spacing: 1px;
	word-spacing:2px;
}

.teaser{
	text-align:center;
}

h1, h3, h5{
	color: #22060d;
}


p, h1, h3, h5{
	margin-bottom: 22px;
}

h3{
font-size: 25px;
}

h5{
font-size: 18px;
font-weight: 400;
text-transform: uppercase;
}

strong{
	font-weight: 400;
}

cite,em{
	font-style: italic;
}

/*Links here*/

a{
	text-decoration:none;
	color: #881a35;
}

a:hover{
	color: #d62e57;
}

.teaser a:hover h3,.teaser a:hover h5{
	color: #d62e57;
}

/*button(s) here*/
.btn{
	border: 5px solid black;
	padding: 15px, 30px;
}

.button{
	letter-spacing:1px;
	text-transform: uppercase;
	margin:0;
	display:inline-block;
	color: #fdf4f6;
	border-radius: 15px;
	cursor:pointer;
}

.btn:hover{
	color:#da4367;
	background:#0d0205;
}

/*Primary Header*/

.logo{
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	letter-spacing: 1px;
	text-align:center;
	text-transform: uppercase;
	float:left;
	padding: 25px 15px 15px 0px;
}

.date{
	font-weight: 400;
	text-align: right;
	color: #fdf4f6;
	margin: 25px 0 20px 0;
}

.primarynav{
font-size: 18px;
font-weight: 400;
letter-spacing: 1px;
text-transform: uppercase;
}

.primaryheader{
	background-color:#7b172f;
	background-color:rgba(123, 23, 47,.35);
	border-radius: 10px;
}

/*primary footer*/

.primaryfooter small{
	float:left;
	color: #fdf4f6;
}

.primaryfooter{
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 20px;
	background-color:#7b172f;
	background-color:rgba(123, 23, 47,.35);
	width:100%;
}


/*Navigation here*/
nav {
	text-align: right;
}

.nav-alt{
	display:inline-block;
	padding-left: 20px;
	margin-bottom:20px;
	padding: 0px 20px 25px 48px;
	background: url('Assets/Home/Nav Icon.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size:40px;
	list-style: none;
}

.nav-alt:hover{
	margin-bottom:20px;
	padding: 0px 20px 20px 48px;
	background: url('Assets/Home/Nav Hover.png');
	background-repeat:no-repeat;
	background-position:left center;
	background-size:40px;
	list-style: none;
}

.nav li:last-child {
  margin-right: 0;
}

nav > ul > li{
	display:inline-block;
	padding-left: 20px;
}

/*Home*/

.about{
	line-height: 40px;
	text-align: center;
	padding: 22px 80px 66px 80px;
	color: #961d3a;
}

.about h2{
	font-size: 15px;
}

.about p{
 font-size: 22px;
 font-weight: 400;
}

/*Rows*/

.row{
	padding: 66px 0 44px 0;
	background-color: #fdf4f6;
	background-color:rgba(253, 244, 246, .35);
	border-radius: 10px;
}

.row,
.row-alt{
	min-width: 960px;
}

/*About*/
.Voice-Actors{
	text-align: center;
	border: 2px solid #7b172f;
	border-radius:15px;
	margin-top: 80px;
	padding: 10px 0;
}

.Info{
	margin-bottom: 30px;
}

.AboutImg,
.IllyaFreakout,
.IllyaBelieve{
	margin-top: 20px;
}

.IllyaHeaven{
	margin-top: 25px;
}


.IllyaCat,
.IllyaHeaven,
.IllyaFreakout,
.IllyaBelieve{
width: 100%;
border-radius: 5px;
}


.Berserker{
margin-top:15px;
}

.IllyaFreakout{
margin-left: 630px;
bottom:100px;
left: 5px;
}

.Personality{
	margin-bottom: -200px;
}

.IllyaBelieve{
	top: 150px;
}

.IllyaFreakout,
.IllyaBelieve,
.Bond5,
.Bond4,
.Stephanie,
.Cynthia{
	position:relative;
}

.IllyaFreakout,
.IllyaBelieve{
	top: 25px;
}

.Bond5{
top: 40px;
}

.Bond4{
	top: 20px;
}

.Stephanie{
top: 100px;
}

.Cynthia{
	top: 80px;
}

/*Gameplay*/

.IllyaGameplay1,
.IllyaGameplay2,
.IllyaGameplay3{
width:100%;
}


.IllyaGameplay3{
	margin-bottom: 80px;
}

.Gameplay{
	display:relative;
	margin-top: 80px;
text-align: center;
}

.stats{
	margin-bottom:10px;
	text-align: center;
	padding-bottom: 15px;
}
