<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel = 'stylesheet' href = '/style.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Illya Site - About</title>
</head>
  <body class = 'about'>

    <div class= 'menu row hidden'><i id = 'menu' class="hidden largeFont fa-solid fa-bars"></i></div>

    <div class = 'scroll flex hidden'>
        <ul class = 'column flex list'><!--
        --><i id = 'close' class="largeFont fa-solid fa-xmark"></i><!--
        --><li><a class = 'regularFont' href = "/"> Home</a></li><!--
        --><li><a class = 'regularFont' href = "/about">About</a></li><!--
        --><li><a class = 'regularFont' href = "/gameplay"> Gameplay</a></li><!--
        --><li><a class = 'regularFont' href = "/photos"> Photos</a></li><!--
        --></ul>
      </div>




    <header>
      <a href = "/">  <h1 class = 'flex justifyContent largeFont'>Illya Fansite</h1></a>
          <!-- <h3 class = "date">07&ndash;20</h3> -->
          <nav class = 'flex' id = 'nav'>
            <ul class = 'flex'><!--
            --><li><a class = 'regularFont' href = "/"> Home</a></li><!--
            --><li><a class = 'regularFont' href = "/about">About</a></li><!--
            --><li><a class = 'regularFont' href = "/gameplay"> Gameplay</a></li><!--
            --><li><a class = 'regularFont' href = "/photos"> Photos</a></li><!--
            -->
          </ul>
          </nav>
  
  </header>

<section class = 'flex column alignItems' id = 'about'>

<section lang = "jp" id = "bio" class = 'flex'>
<div>
  <h3 class = 'mediumFont'>Illyasviel von Einzbern</h3>
  <h4>(Iriyasufīru fon Aintsuberun)</h4>
  <h4> イリヤスフィール・フォン・アインツベルン</h3>
  <p class = 'regularFont'>She is the daughter of Kiritsugu Emiya and Irisviel von Einzbern, both whom participated in the Fourth Holy Grail War, and the adoptive older sister of Shirou Emiya.</p>
  <p class = 'regularFont'>She appears in the following media: All Around Type-Moon, Capsule Servant, Carnival Phantasm, Character Material, Chibichuki!, Fate/hollow ataraxia, Fate/stay night, Fate/tiger colosseum, Fate/Unlimited Codes, Fate/Zero, Today's Menu for Emiya Family, All Around Type-Moon, Fate/kaleid liner, PRISMA&#9734;ILLYA, and Fate/Grand Order.</p>
  <p class = 'regularFont'>Illya was voiced by Mai Kadowaki in Japanese, Stephanie Sheh in the Fate series and Cynthia Martinez in the Prisma/FGO series in English.  A Female with a height of 133 cm and weight of 34 kg, Illya in the fate seriese was born in Germany but her birthday is still unknown; Illya was 8 in Fate/Zero, and 18 in Fate/Zero Unlimated.  In the Prisma series, Illya was 10 and eventually becomes 11 years old and is born in Fuyuki City, Japan; with a birthdate of July 20 and weighing 29kg.</p>
</div>
<!--



  --><aside class = 'mai flex column alignItems'>
<ul class = 'flex'>
  <li class = 'regularFont'>Mai Kadowaki:</li>
  <li class = 'regularFont'><a href="https://en.wikipedia.org/wiki/Mai_Kadowaki">Wiki</a></li>
  <li class = 'regularFont'><a href="https://www.imdb.com/name/nm2057168/">IMDB</a></li>
</ul>

  <img class = "IllyaHeaven" src =/about/HeavenSmile.gif alt = "Fate/Stay Illya">
  <audio class = "Berserker" controls preload = "none">
    <source src = "/about/Berserker is the strongest in the world.mp3" type= "audio/mp3"/>
  </audio>
</aside>

</section><!--

--><section lang = "jp" id = "background"  class = 'flex'>
<div class = 'flex column alignItems'>
<h3 class = 'mediumFont'>Background</h3>
<div class = 'background'>
    <p class = 'regularFont'>Einzbern, one of three families of Magi involved in the Holy Grail War, were responsible for creation of the vessel into which the souls of the defeated Servants would go. As such, Illya was prepared by her family to act as a living vessel for the Grail.  Unlike other homunculi who are born without eggs and wombs, Illyasviel originally was developed in her mother's womb from a fertilized egg to an embryo through the same process as ordinary people do.</p>
    <p class = 'regularFont'>In the Fate/Zero Drama CD, she was born out of love between Kiritsugu and Irisviel, to be Kiritsugu's reason for living when he comes back from the war.  The head of the family Jubstacheit von Einzbern, however, anticipated the possibility that Kiritsugu and Irisviel would fail to win the Fourth Holy Grail War, so he allowed Illyasviel to be born with modifications to allow her to become the Holy Grail should a Fifth Holy Grail War occur.</p>
    <p class = 'regularFont'>The modifying made her growth slow down abnormally and resulted in her childlike appearance while she is actually slightly older than Shirou. Irisviel was gifted a working womb so she gave natural birth to Illya.</p>
</div>
    <p class = 'regularFont'>Illya differs from her Fate/stay night counterpart in many different ways. She was born directly to be utilized in the fourth Fuyuki Holy Grail War, and she was given the knowledge needed at birth. Her father and mother, Kiritsugu and Irisviel, had been discussing completely abandoning the ritual and the Einzbern family, and Irisviel was given the final choice. They decided when Illya was eight months old, and sealed her magical abilities and her memories up until that point.</p>
    <p class = 'regularFont'>They remained within her as a separate personality, Kuro, that continued to accrue the same memories as her.  She was brought to Fuyuki from the Einzbern castle and raised as a normal child along with her adopted brother, Shirou. Their parents were away for long periods of time, so they were left with Sella and Leysritt much of the time. She had a normal life for ten years without any knowledge of her background, and had no idea about her parents' activities.</p>
</div><!--


--><aside class = 'stephanie flex column alignItems'>
    <ul class = 'flex'>
      <li class = 'regularFont'>Stephanie Sheh:</li>
      <li class = 'regularFont'><a href = "https://en.wikipedia.org/wiki/Stephanie_Sheh">Wiki</a></li>
      <li class = 'regularFont'><a href = "https://www.imdb.com/name/nm1315809/">IMDB</a></li>
  </ul>

  <img src = "/about/KaleidBelieve.gif" alt = "BelieveIllya">
  <audio class = "Bond5" controls preload = "none">
    <source src = "/about/Illya Caster Bond5.ogg" type= "audio/ogg">
    <source src = "/about/Illya Caster Bond5.mp3" type = "audio/mp3">
  </audio>
  </aside>
</section><!--

--><section id = "personality" class = 'flex'>
  <div class = "flex alignItems column">
    <h3 class ='mediumFont'>Personality</h3>
    <div class = 'background'>
    <p class = 'regularFont'>Illya is cheerful and outgoing, upbeat and generally exhibits a positive attitude. Possessing a friendly demeanor, she is easy to talk to and tends to be playful and mischievous. Deep inside, however, Illya is lonely as she has no friends her own age to play with and is often stuck inside the Einzbern castle. She asks those she feels comfortable around to call her "Illya".</p>
      <p class = 'regularFont'>Illya's personal interest in Shirou is conflicted due to the fact that Kiritsugu, whom she loved for he was her father, remained in Japan as Shirou's adoptive father after betraying her family by destroying the long-sought Grail. She feels that Kiritsugu abandoned her for Shirou, and is jealous of Shirou for that. When she first meets Shirou, she considers him as something of an older brother.</p>
      <p class = 'regularFont'>Though he is distrustful of her at first, he comes to like Illya, seeing her as a little sister. However at the same time, she also feels very close to Shirou for his relationship with Kiritsugu. As such, she becomes very affectionate and clingy towards him (like a younger sibling would) when Berserker is defeated, much to Saber and Rin's annoyance.</p>
      <p class = 'regularFont'>While her personality got more unstable and cold-blooded due to the Einzberns' inhuman treatment of her, she keeps the kindness inherited from her parents deep down in her heart.</p>
    </div><!--

   --><div class = 'background'>
      <p class = 'regularFont'>While exhibiting a cheerful and positive attitude, Illya is shy, easily flustered, and more innocent at the beginning. In her first fight, she is shown to be agile but rather cowardly. Also, Illya is an ardent fan of anime, much to Sella's disappointment. She secretly harbors feelings for her brother, Shirou, something that Ruby highlights frequently much to her embarrassment.</p>
      <p class = 'regularFont'>She is also rarely (if ever) clingy when with him unlike her Fate/Stay Night counterpart.  When interacting with her friends at school, she shares a dynamic relationship with them where she usually acts as the voice of reason, a role that is very much like a Tsukkomi (a person who throws punchlines). This is particularly expressed when it comes to suggestively lewd or comedically immoral situations.</p>
      <p class = 'regularFont'>She has a rather intense fascination with maid outfits, though she does not like the official Einzbern maid outfit Sella puts on at one point.  As the series progresses, Illya matures into a strong individual who's willing to face overwhelming odds for what she cares about while also maintaining her innocent nature and strong morals. This is proven when Illya also wants to protect everyone, especially her friends.</p>
      <p class = 'regularFont'>It is shown as Illya proclaims that she will help Miyu and her world, even though Julian stated that it is almost impossible.  This characterizes the immeasurable amount of kindness Illya possesses that she is considered a natural genius in becoming friends with her enemies.  Despite her growth in maturity, she still holds behaviors fitting of her age such as childish tempers, trying to act mature, and being stubborn towards things she dislikes.</p>
      <p class = 'regularFont'>Like all young girls her age she adores cute things like animals and stuffed toys. In stark contrast to her original version, she really likes cats.</p>
    </div><!--
    --></div><!--


  --><aside class ='flex column alignItems'>
    <ul class = 'flex'>
    <li class = 'regularFont'>Cynthia Martinez: </li>
    <li class = 'regularFont'><a href = "https://en.wikipedia.org/wiki/Cynthia_Martinez">Wiki</a></li>
    <li class = 'regularFont'><a href = "https://www.imdb.com/name/nm0993426/">IMDB</a></li>
  </ul>

<img src = "/about/IllyaCat.gif" alt = "IllyaCat">
<audio controls preload="none">
<source src = "/about/Illya Archer Bond4.ogg" type = audio/ogg>
<source src = "/about/Illya Archer Bond4.mp3" type= audio/mp3> 
</audio>


<img src = "/about/IllyaFreakOut.gif" alt = "IllyaFreakout" class = 'illyaFreakOut'>

</aside><!--

-->
  
</section><!--


  --></section>

  <form action = '/contact' method = 'POST' name = 'Illya Contact' class = 'flex column alignItems contact'>

    <label for = 'email'>Email</label>
    <input name = 'email' id = 'email' type = 'email' required = 'required'></input>
    <label for = 'message'>Message</label>
    <input name = 'message' type = 'text' id = 'message' required = 'required'></input>
    <button class = 'button' type = 'submit'>Submit</button>
  </form>
  
  <footer class = 'flex' id = 'footer'>
    <small class = 'flex justifyContent alignItems'>Illya Fansite &copy; choir</small>
    <ul class = 'flex icons'>
      <li><a href = 'https://www.facebook.com/richard.choi.54772/about?section=bio&lst=100052959996942%3A100052959996942%3A1593271248'><i class="fa-brands fa-facebook-f"></i></a></li>
      <li><a href = 'https://www.linkedin.com/in/richard-choir/'><i class="fa-brands fa-linkedin"></i></a></li>
      <li><a href = 'https://www.instagram.com/225kh_drw/?hl=en'><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href = 'https://twitter.com/choir241'><i class="fa-brands fa-twitter"></i></a></li>
    </ul>
      <nav class= "flex">
          <ul class = 'flex'><!--
        --><li><a class = 'regularFont' href = "/about">About</a></li><!--
        --><li><a class = 'regularFont' href = "/gameplay"> Gameplay</a></li><!--
        --><li><a class = 'regularFont' href = "/photos"> Photos</a></li><!--
         --><li><a class = 'regularFont' href = "/other"> Other</a></li><!--
          -->
  </ul>
  </nav>
  </footer>
  <script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
  <script src = '/main.js'></script>
  </body>
</html>
