<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<link rel = 'stylesheet' href = '/style.css'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Illya Site - Gameplay</title>
  </head>

  <body id = 'fgo'>

    <div class= 'menu row hidden'><i id = 'menu' class="hidden largeFont fa-solid fa-bars"></i></div>

    <div class = 'scroll flex hidden'>
        <ul class = 'column flex list'><!--
        --><i id = 'close' class="largeFont fa-solid fa-xmark"></i><!--
        --><li><a class = 'regularFont' href = "/"> Home</a></li><!--
        --><li><a class = 'regularFont' href = "/about">About</a></li><!--
        --><li><a class = 'regularFont' href = "/gameplay"> Gameplay</a></li><!--
        --><li><a class = 'regularFont' href = "/photos"> Photos</a></li><!--
        --></ul>
      </div>



    <header>
      <a href = "/"><h1 class = 'flex justifyContent largeFont'>Illya Fansite</h1></a>
          <!-- <h3 class = "date">07&ndash;20</h3> -->
          <nav class = 'flex' id = 'nav'>
            <ul class = 'flex'><!--
            --><li><a class = 'regularFont' href = "/"> Home</a></li><!--
            --><li><a class = 'regularFont' href = "/about">About</a></li><!--
            --><li><a class = 'regularFont' href = "/gameplay"> Gameplay</a></li><!--
            --><li><a class = 'regularFont' href = "/photos"> Photos</a></li><!--
          --></ul>
          </nav>
  
  </header>

  <section id = 'gameplay' class = "flex column alignItem">

<section class = 'flex column alignItems gameplay'>
  <h3 class = 'mediumFont'>Illya Caster Gameplay</h3>



  <div class = 'flex justifyContent servant'>
    <img src ="https://gamepress.gg/grandorder/sites/grandorder/files/2018-04/1362.jpg" alt = 'illya caster ascension stage 2' class = 'image'>
    <ul class = 'flex'>
      <div class = 'container' id = 'container1'>

      </div>
      <div class = 'container' id = 'container2'>
  
      </div>
    </ul>
  </div>
  

    <div class = 'flex justifyContent alignItems video'>
<a target = '_blank' href = 'https://www.youtube.com/watch?v=t1OS37GPmF8' class = 'flex justifyContent alignItems'>
  <button class = 'btn mediumFont'>Play</button>
<img src = '/gameplay/IllyaVideo.PNG' alt = 'illya caster gameplay' class = 'video'>
</a>
</div>
</section><!--

--><section class = 'flex column alignItems gameplay-reverse'>
  <h3 class = 'mediumFont'>Illya as Sitonai Alter Ego</h3>
  <div class = 'flex justifyContent servant'>
    <img src = 'https://gamepress.gg/grandorder/sites/grandorder/files/2018-11/224_Sitonai_1.png' alt  = 'sitonai stage ascension 1' class = 'image sitonai'>

<ul class = 'flex'>
  <div class ='container' id = 'container3'>

  </div>
  <div class = 'container' id = 'container4'>

  </div>
</ul>

</div>
<div class = 'flex justifyContent alignItems video'>
<a target = '_blank' href = 'https://www.youtube.com/watch?v=pAojz0MNlp8' class = 'flex justifyContent alignItems'>
  <button class = 'btn mediumFont'>Play</button>
    <img src = "/gameplay/Sitonai Video.PNG" alt = 'sitonai alterego gameplay' class = 'video'>
</a>
</div>
</section><!--

--><section class = 'flex alignItems column gameplay'>
  <h3 class = 'mediumFont'>Illya Swimsuit Archer Gameplay</h3>
  <div class = 'flex justifyContent servant'>
<img src ='https://gamepress.gg/grandorder/sites/grandorder/files/2020-08/Illyasviel%20von%20Einzbern%20%28Archer%29_2.png' alt = 'illya archer ascension stage' class = 'image'>
<ul class = 'flex'>
  <div class = 'container' id = 'container5'>

  </div>
  <div class = 'container' id = 'container6'>

  </div>
</ul>
</div>
<div class = 'flex justifyContent alignItems video'>
<a target = '_blank' href = "https://www.youtube.com/watch?v=r8Ajm0IpXmA" type="video/mp4" class = 'flex justifyContent alignItems'>
  <button class = 'btn mediumFont'>Play</button>
    <img src = '/gameplay/Illya Archer Video.PNG' alt = 'illya Archer Gameplay' class = 'video'>
    </a>
  </div>
    </section>

</section>

<form action = '/contact' method = 'POST' name = 'Illya Contact' class = 'flex column alignItems contact'>

  <label for = 'email'>Email</label>
  <input name = 'email' id = 'email' type = 'email' required = 'required'></input>
  <label for = 'message'>Message</label>
  <input name = 'message' type = 'text' id = 'message' required = 'required'></input>
  <button class = 'button' type = 'submit'>Submit</button>
</form>

<footer class = 'flex' id = 'footer'>
  <small class = 'flex justifyContent alignItems'>Illya Fansite &copy; choir</small>
  <ul class = 'flex icons'>
    <li><a href = 'https://www.facebook.com/richard.choi.54772/about?section=bio&lst=100052959996942%3A100052959996942%3A1593271248'><i class="fa-brands fa-facebook-f"></i></a></li>
    <li><a href = 'https://www.linkedin.com/in/richard-choir/'><i class="fa-brands fa-linkedin"></i></a></li>
    <li><a href = 'https://www.instagram.com/225kh_drw/?hl=en'><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href = 'https://twitter.com/choir241'><i class="fa-brands fa-twitter"></i></a></li>
  </ul>
    <nav class= "flex">
        <ul class = 'flex'><!--
        --><li><a class = 'smallFont' href = "/"> Home</a></li><!--
        --><li><a class = 'smallFont' href = "/about">About</a></li><!--
        --><li><a class = 'smallFont' href = "/gameplay"> Gameplay</a></li><!--
        --><li><a class = 'smallFont' href = "/photos"> Photos</a></li><!--
        -->
</ul>
</nav>
</footer>
<script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
<script src = '/gameplay.js'></script>

  </body>
</html>
