<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<link rel = 'stylesheet' href = '/style.css'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Illya Site</title>
  </head>


  <body id = 'other'>
   
    <div class= 'menu row hidden'><i id = 'menu' class="hidden largeFont fa-solid fa-bars"></i></div>

    <div class = 'scroll flex hidden'>
        <ul class = 'column flex list'><!--
        --><i id = 'close' class="largeFont fa-solid fa-xmark"></i><!--
        --><li><a class = 'regularFont' href = "/"> Home</a></li><!--
        --><li><a class = 'regularFont' href = "/about">About</a></li><!--
        --><li><a class = 'regularFont' href = "/gameplay"> Gameplay</a></li><!--
        --><li><a class = 'regularFont' href = "/photos"> Photos</a></li><!--
        --></ul>
      </div>


    <header>
      <a href = "/"><h1 class = 'flex justifyContent largeFont'>Illya Fansite</h1></a>
        <!-- <h3 class = "date">07&ndash;20</h3> -->
        <nav class = 'flex' id = 'nav'>
          <ul class = 'flex'><!--
        --><li><a class = 'regularFont' href = "/about">About</a></li><!--
        --><li><a class = 'regularFont' href = "/gameplay"> Gameplay</a></li><!--
        --><li><a class = 'regularFont' href = "/photos"> Photos</a></li><!--
         --><li><a class = 'regularFont' href = "/other"> Other</a></li><!--
        --></ul>
        </nav>

</header>

<main class = 'flex column alignItems'>

<section class = 'flex row arrows justifyContent alignItems' id = 'videos'>
    <i class="largeFont fa-solid fa-circle-left left"></i>
<a class = 'vid1 flex justifyContent' href = 'https://www.youtube.com/watch?v=5Q-WXlcMIQc'><img class = 'img1' src = '/other/prismaAnime.PNG'></a>
<a class = 'vid2 flex justifyContent hidden' href = 'https://www.youtube.com/watch?v=z9BsvCdBXwI'><img class = 'img2 hidden' src = '/other/prismaMovie.PNG'></a>
<a class = 'vid3 flex justifyContent hidden' href = 'https://www.youtube.com/watch?v=-FCuwaxUUYk'><img class = 'img3 hidden' src = '/other/unlimatedBladeWorks.PNG'></a>
<video class = 'vid4 hidden' controls><source class = 'img4 hidden' src = 'https://thumbs.gfycat.com/CluelessOptimisticGavial-mobile.mp4'></video>
<video class = 'vid5 hidden' controls><source class = 'img5 hidden' src = 'https://thumbs.gfycat.com/UnripeDentalAtlanticblackgoby-mobile.mp4'></video>
<i class="largeFont fa-solid fa-circle-right right"></i>
</section>



<section class = 'flex arrows justifyContent'>
    <div class ='flex'>
    <i class="largeFont fa-solid fa-arrow-left-long" id = 'leftArrow'></i>
    <i class="largeFont fa-solid fa-arrow-right" id = 'rightArrow'></i>
    </div>
</section>

<section class = 'flex row prisma section1'>
<img src = 'https://i.ytimg.com/vi/QtQr2dfpXSs/maxresdefault.jpg'>
<img src = 'https://www.gamepress.gg/grandorder/sites/grandorder/files/2018-08/763BDA8D-1346-4A36-B18C-F4224FC99A38.png'>
<img src = 'https://pbs.twimg.com/media/CrVku5QUsAEtGDj.jpg '>
</section>

<section class = 'flex row prisma section2 hidden'>
<img src = 'https://c.tenor.com/lhUveIEsq0IAAAAd/illyasviel-fgo.gif'>
<img src = 'https://c.tenor.com/P6NLFsJGhf8AAAAd/prillya-fate.gif'>
<img src = 'https://c.tenor.com/Uqn_wFgQ3TYAAAAd/einzbern-von.gif'>
</section>

<section class = 'flex row prisma section3 hidden'>
<img src = 'https://c.tenor.com/N_eymTSwp20AAAAd/prisma-illya-prillya.gif'>
<img src = 'https://c.tenor.com/5n62JBRyy30AAAAd/sitonai-von-einzbern.gif'>
<img src = 'https://c.tenor.com/P4EX6hm55J4AAAAd/sitonai-fate.gif'>
</section>

<section class = 'flex row prisma section4 hidden'>
<img src = 'https://c.tenor.com/tij8vgtyidUAAAAd/fgo-fate.gif'>
<img src = 'https://c.tenor.com/bnJZwD3cb2YAAAAd/sitonai-lostbelt.gif'>
</section>

<section class = 'flex row prisma section5 hidden'>
<img src = 'https://c.tenor.com/SNjKxZpiFB0AAAAC/fgo-fate.gif'>
</section>

<section class = 'flex row prisma section6 hidden'>
<img src = 'https://c.tenor.com/aZ1xCo8V3lYAAAAC/illya-illyasviel.gif'>
<img src = 'https://c.tenor.com/HIq8Z97MscEAAAAC/mashu-kyrielight-mash-kyrielight.gif'>
</section>


<section class = 'flex row prisma section7 hidden'>
<img src = 'https://media.gentokyo.moe/2017/02/Fate-Kaleid-Liner-Prisma-Illya.png'>
<img src = 'https://d1a2e1vehwcxq9.cloudfront.net/news/2017/01/tuesday-nr-Fate-kaleid-Prisma-Illya-2Wei-Herz-870x520.png'>
<img src = 'https://c.tenor.com/m9Ibi8411Y8AAAAC/fate-kaleid.gif'>
</section>

<section class = 'flex row prisma section8 hidden'>
    <img src = 'https://c.tenor.com/adxN54D6rWcAAAAd/illyasviel-von-einzbern-illya-von-einzbern.gif'>
<img src = 'https://c.tenor.com/0rzWBC7u1GQAAAAC/illya-illyasviel.gif'>
</section>

<section class = 'flex row prisma section9 hidden'>
    <img src = 'https://pa1.narvii.com/6289/1b18180319ca62144e7787bc20e96db5811af40b_hq.gif'>
<img src = 'https://vignette.wikia.nocookie.net/vsbattles/images/7/75/ZelleCreation.gif/revision/latest?cb=20160903045101'> 
</section>

<section class = 'flex row prisma section10 hidden'>
<img src = 'https://gifimage.net/wp-content/uploads/2017/11/illya-gif-11.gif'>
<img src = 'https://blog.draggle.org/wp-content/uploads/2014/10/fate_stay_night_03_3.jpg'>
</section>

<section class = 'flex row prisma section11 hidden'>
<img src = 'https://c.tenor.com/6ImyNxZBCzEAAAAC/fate-kaleid.gif'>
<img src = 'https://i.pinimg.com/736x/ec/88/d8/ec88d8874398165de79c86bb1fe252b4.jpg'>
</section>

<section class = 'flex row prisma section12 hidden'>
<img src = 'https://c.tenor.com/eJMyY_4nP6AAAAAC/illyasviel-von-einzbern-illya.gif'>
<img src = 'https://img1.ak.crunchyroll.com/i/spire4/626e1465b0160dd6e03b99f87d564cda1409770012_full.gif'>
</section>


<section class = 'flex row prisma section13 hidden'>
<img src = 'https://i.pinimg.com/originals/95/72/43/9572432b1fa22b2419b65d80e2a1d87a.gif'>
<img src = 'https://i.imgur.com/RfLJNHI.gif'>
<img src = 'https://c.tenor.com/Hz__egJm644AAAAd/illya-fate.gif'>
</section>

</main>
<form action = '/contact' method = 'POST' name = 'Illya Contact' class = 'flex column alignItems contact'>

  <label for = 'email'>Email</label>
  <input name = 'email' id = 'email' type = 'email' required = 'required'></input>
  <label for = 'message'>Message</label>
  <input name = 'message' type = 'text' id = 'message' required = 'required'></input>
  <button class = 'button' type = 'submit'>Submit</button>
</form>

<footer class = 'flex' id = 'footer'>
  <small class = 'flex justifyContent alignItems'>Illya Fansite &copy; choir</small>
  <ul class = 'flex icons'>
    <li><a href = 'https://www.facebook.com/richard.choi.54772/about?section=bio&lst=100052959996942%3A100052959996942%3A1593271248'><i class="fa-brands fa-facebook-f"></i></a></li>
    <li><a href = 'https://www.linkedin.com/in/richard-choir/'><i class="fa-brands fa-linkedin"></i></a></li>
    <li><a href = 'https://www.instagram.com/225kh_drw/?hl=en'><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href = 'https://twitter.com/choir241'><i class="fa-brands fa-twitter"></i></a></li>
  </ul>
    <nav class= "flex">
        <ul class = 'flex'><!--
        --><li><a class = 'regularFont' href = "/about">About</a></li><!--
        --><li><a class = 'regularFont' href = "/gameplay"> Gameplay</a></li><!--
        --><li><a class = 'regularFont' href = "/photos"> Photos</a></li><!--
         --><li><a class = 'regularFont' href = "/other"> Other</a></li><!--
        --></ul>
</nav>
</footer>

<script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
<script src = '/other.js'></script>
  </body>
</html>
