<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<link rel = 'stylesheet' href = '/style.css'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Illya Fansite - Gameplay</title>
  </head>

  <body>
    <header>
        <h1 class = 'flex justifyContent largeFont'><a href = "/">Illya Fansite</a></h1>
          <!-- <h3 class = "date">07&ndash;20</h3> -->
          <nav class = 'flex' id = 'nav'>
            <ul class = 'flex'><!--
            --><li><a class = 'regularFont' href = "/"> Home</a></li><!--
            --><li><a class = 'regularFont' href = "/about">About</a></li><!--
            --><li><a class = 'regularFont' href = "/gameplay"> Gameplay</a></li><!--
            --><li><a class = 'regularFont' href = "/photos"> Photos</a></li><!--
            --><li><a class = 'regularFont' href = "/drawings"> Drawings</a></li>
          </ul>
          </nav>
  
  </header>

<body class = 'photos'>
    <section class ='flex alignItems column illya'>

        <section class = 'flex justifyContent'>
            <img src = '/photos/illya (66).jpg'>
        </section>

        <section class = 'flex'>
            <img src = '/photos/illya (44).jpg'>
            <img src = '/photos/illya1.jpg'>
            <img src = '/photos/illya1.png'>
        </section>

        <section class = 'flex'>
            <img src = '/photos/illya2.jpg'>
            <img src = '/photos/illya3.jpg'>
            <img src = '/photos/illya (67).jpg'>
        </section>

        <section class = 'flex'>
            <img src = '/photos/illya (65).jpg'>
            <img src = '/photos/illya (64).jpg'>
            <img src = '/photos/illya (62).jpg'>
        </section>

        <section class = 'flex'>
            <img src = '/photos/illya (60).jpg'>
            <img src = '/photos/illya (59).jpg'>
            <img src = '/photos/illya (58).jpg'>
        </section>

        <section class = 'flex'>
            <img src = '/photos/illya (52).jpg'>
            <img src = '/photos/illya (57).jpg'>
            <img src = '/photos/illya (61).jpg'>
        </section>
        
        <section class = 'flex'>
            <img src = '/photos/illya (51).jpg'>
            <img src = '/photos/illya (54).jpg'>
            <img src = '/photos/illya (53).jpg'>
        </section>

        <section class = 'flex'>
            <img src = '/photos/illya (50).jpg'>
            <img src = '/photos/illya (49).jpg'>
            <img src = '/photos/illya (46).jpg'>
        </section>

        <section class = 'flex'>
            <img src = '/photos/illya (43).jpg'>
            <img src = '/photos/illya (42).jpg'>
            <img src = '/photos/illya (41).jpg'>
        </section>
        
        <section class = 'flex'>
            <img src = '/photos/illya (38).jpg'>
            <img src = '/photos/illya (39).jpg'>
            <img src = '/photos/illya (45).jpg'>
        </section>

        <section class = 'flex'>
            <img src = '/photos/illya (37).jpg'>
            <img src = '/photos/illya (36).jpg'>
            <img src = '/photos/illya (35).jpg'>
        </section>

        <section class = 'flex'>
            <img src = '/photos/illya (34).jpg'>
            <img src = '/photos/illya (33).jpg'>
            <img src = '/photos/illya (32).jpg'>
        </section>

        <section class = 'flex'>
            <img src = '/photos/illya (26).jpg'>
            <img src = '/photos/illya (22).jpg'>
            <img src = '/photos/illya (24).jpg'>
        </section>

        <section class = 'flex'>
            <img src = '/photos/illya (14).jpg'>
            <img src = '/photos/illya (27).jpg'>
            <img src = '/photos/illya1 (2).jpg'>
        </section>
        
        <section class = 'flex'>
            <img src = '/photos/illya (17).jpg'>
            <img src = '/photos/illya (15).jpg'>
            <img src = '/photos/illya (18).jpg'>
        </section>

        <section class = 'flex'>
            <img src = '/photos/illya (13).jpg'>
            <img src = '/photos/illya (12).jpg'>
            <img src = '/photos/illya (10).jpg'>
        </section>

        <section class = 'flex'>
            <img src = '/photos/illya (9).jpg'>
            <img src = '/photos/illya (5).jpg'>
            <img src = '/photos/illya (7).jpg'>
        </section>

        <section class = 'flex'>
            <img src = '/photos/illya (5).jpg'>
            <img src = '/photos/illya (4).jpg'>
            <img src = '/photos/illya (3).jpg'>
        </section>

        <section class = 'flex'>
            <img src = '/photos/illya (15).png'>
            <img src = '/photos/illya (14).png'>
            <img src = '/photos/illya (11).png'>
        </section>

        <section class = 'flex'>
            <img src = '/photos/illya (10).png'>
            <img src = '/photos/illya (9).png'>
            <img src = '/photos/illya (8).png'>
        </section>

        <section class = 'flex'>
            <img src = '/photos/illya (6).png'>
            <img src = '/photos/illya (5).png'>
            <img src = '/photos/illya (4).png'>
        </section>

        <section class = 'flex'>
            <img src = '/photos/illya (7).png'>
            <img src = '/photos/illya (12).png'>
            <img src = '/photos/illya (3).png'>
        </section>

        <section class= 'flex'>
            <img src = '/photos/illya (16).png'>
            <img src = '/photos/illya (6).jpg'>
            <img src = '/photos/illya (11).jpg'>
        </section>
    </section>
</body>

<footer class = 'flex' id = 'footer'>
    <small class = 'flex justifyContent alignItems'>Illya Fansite &copy; choir</small>
      <nav class= "flex">
          <ul class = 'flex'><!--
        --><li><a class = 'smallFont' href = "/"> Home</a></li><!--
        --><li><a class = 'smallFont' href = "/about">About</a></li><!--
        --><li><a class = 'smallFont' href = "/gameplay"> Gameplay</a></li><!--
        --><li><a class = 'smallFont' href = "/photos"> Photos</a></li><!--
        --><li><a class = 'smallFont' href = "/drawings"> Drawings</a></li>
  </ul>
  </nav>
  </footer>
  </body>
</html>
